.tests {
  padding: 30px 50px 50px 50px;
}
.tests-header {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: rgba(51, 102, 51);
}

.tests_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
.tests_add {
  display: flex;
  justify-content: center;
}
.tests_add img {
  cursor: pointer;
}